*.iml
.gradle
/local.properties
/.idea
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties
app/google-services.json

# Firebase functions
firebase/functions/node_modules/
firebase/functions/.env
firebase-debug.log
.firebase/
.firebaserc
